@model IEnumerable<Answer.Models.AnswerModels>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AnswerText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            Quetion Title
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
              @{
                if(item.AnswerText.Length<26)
                {<span>@item.AnswerText</span> }
                else
                {<span> @(item.AnswerText.Substring(0,25)+".....")</span>}
              }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
         <td>
            @Html.ActionLink(item.Question.Title, "Details","MangeQuestions", new { id=item.Question.QuestionId },null)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.AnswerId })
        </td>
    </tr>
}

</table>
