@model IEnumerable<Answer.Models.MajorModels>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MajorType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MajorType)
            @Html.HiddenFor(modelItem => item.MajorType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MajorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MajorId })
        </td>
    </tr>
}

</table>
